{% extends 'task_manager/folder/base.html.twig' %}

{% block content %}
    <div class="search-box">
      <input type="text" placeholder="Pesquisar subpasta" class="mb0"/>
    </div>
    <h3 class="subtitle mt0">Subpastas:<span class="settings">Opções</span></h3>
    {% if subfolders|length > 0 %}
      {% for subfolder in subfolders %}
        <a class="item hover" href="{{ path('task-manager-folder-tasks', {folder: subfolder.id}) }}">
          <div class="item-line">
            <span class="icon folder-icon"></span> {{ subfolder.name }}
          </div>
          <div class="item-line white smaller pl30">
            {{ subfolder.description }}
          </div>
        </a>
      {% endfor %}
    {% else %}
      <div class="message">
        Nenhuma subpasta encontrada dentro desta pasta
      </div>
    {% endif %}
{% endblock %}
