{% extends 'task_manager/folder/base.html.twig' %}

{% block content %}

  <div id="new-subfolder-component" style="display: none">
    <h3 class="subtitle mt0 smaller-subtitle">Nova subpasta: <span class="close-label" onClick="hideElement('new-subfolder-component')">X</span></h3>
    <input type="text" placeholder="Nome da subpasta" class="mb0 ph-white">
    <textarea placeholder="Descrição" rows="5" class="ph-white lb-border-top mb0"></textarea>
    <div class="submit-button">Criar</div>
  </div>

    <div class="search-box">
      <input type="text" placeholder="Pesquisar subpasta" class="mb0"/>
    </div>
    <h3 class="subtitle mt0">Subpastas:<span class="settings" onClick="toggleDisplay('subfolders-menu')">Opções</span></h3>
    <div id="subfolders-menu" class="subtitle-menu" style="display: none;">
      <div id="new-subfolder" class="menu-item" onClick="displayElement('new-subfolder-component'); hideElement('subfolders-menu')">
        <span class="icon new-folder-icon"></span> Nova subpasta
      </div>

      <div id="search-subfolders" class="menu-item" onClick="displayElement('search-subfolders-component'); hideElement('subfolders-menu')">
        <span class="icon search-icon"></span> Pesquisar
      </div>
    </div>


    {% if subfolders|length > 0 %}
      {% for subfolder in subfolders %}
        <a class="item hover" href="{{ path('task-manager-folder-tasks', {folder: subfolder.id}) }}">
          <div class="item-line">
            <span class="icon folder-icon"></span> {{ subfolder.name }}
          </div>
          <div class="item-line white smaller pl30">
            {{ subfolder.description }}
          </div>
        </a>
      {% endfor %}
    {% else %}
      <div class="message">
        Nenhuma subpasta encontrada dentro desta pasta
      </div>
    {% endif %}
{% endblock %}
