{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<style>

    .login-box {
        width: 100%;
        max-width: 768px;
        margin: auto;
    }
    .login-box h1 {
        margin-left: 10px;
    }

    .login-box p {
        margin-left: 10px;
        color: #0c5478;
    }

    .login-box p.error {
        color: red;
    }

    .login-box input[type="email"],
    .login-box input[type="password"],
    .login-box input[type="text"],
    .login-box input[type="button"],
    .login-box input[type="submit"]
    {
        -webkit-appearance:     none;
        -moz-appearance:        none;
        -ms-appearance:         none;
        -o-appearance:          none;
        appearance:             none;
    }

    .login-box input[type="button"],
    .login-box input[type="submit"]
    {
        background-color: #0c5478;
        border: 0;
        color: #ffffff;
        padding: 10px;
        margin-left: 10px;
    }


    .login-box input[type="email"],
    .login-box input[type="password"],
    .login-box input[type="text"]
    {
        display: block;
        width: 100%;
        background: #055479;
        color: #ffffff;
        border: 0;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        padding: 10px;
        margin-bottom: 10px;

    }

    .login-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #f7ff00;
        opacity: 1; /* Firefox */
    }

    .login-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #f7ff00;
    }

    .login-box input::-ms-input-placeholder { /* Microsoft Edge */
        color: #f7ff00;
    }




</style>
{% endblock %}

{% block body %}
<div class="login-box">
    <h1>Minha Área</h1>
    <p>Por favor inicie sessão para aceder á sua área pessoal</p>

    <form method="post">
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="******" />
        {%  if error %}<p class="error">{{ error_message }}</p>{%  endif %}
        <input type="submit" value="Iniciar sessão" />
    </form>
</div>
{% endblock %}
