{% extends 'base.html.twig' %}

{% block title %}- Gestor de Utilizadores{% endblock %}

{% block stylesheets %}
    <style>

        .image.clients {
            background-image: url('{{ asset("/img/icons/clients.png") }}');
        }



    </style>
{% endblock %}

{% block body %}
    <div class="dashboard-box">
        <a class="section-title header mb0" href="{{ path('user_manager') }}">
            <div class="image clients"></div>
            <div class="title">Gestor de Utilizadores</div>
        </a>
        <div class="search-box">
          <input type="text" placeholder="Pesquisar utilizador" class="mb0"/>
        </div>
        <h3 class="subtitle mt0">Lista de utilizadores:<span class="settings">Opções</span></h3>
        <div class="dashboard-list-items">
          {% if users|length > 0 %}
            {% for user in users %}
              <div class="item hover">
                <div class="item-line white">
                  {{ user.getFullName() }}
                </div>
                <div class="item-line smaller">
                  {{ user.email }}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="message">
              Nenhum utilizador encontrado
            </div>
          {% endif %}
        </div>
    </div>
{% endblock %}
